{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Bonjour {{ user.username }}, veuillez entrer votre nouveau mot de passe ainsi que de le confirmer.
        {{ form_start(form) }}
        {{ form_row(form.password,{'label': 'mot de passe', 'attr': {'placeholder': 'Votre nouveau mot de passe', 'value': null}}) }}
        {{ form_row(form.confirm_password,{'label': "Confirmez votre nouveau mot de passe",'attr': {'placeholder': 'Confirmez votre nouveau mot de passe'}}) }}
        <button type="submit" class="btn btn-danger">Confirmer votre nouveau mot de passe</button>
        {{ form_end(form)}}
    </div>
{% endblock %}
