{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card mt-4">
            <h1 class="card-header bg-redchiefs text-light">     {{ article.title }}</h1>

            <div class="card-body">
                <p class="category btn btn-danger">{{ article.categoryId.name }}</p>
                <p class="font-italic"> Par <span
                            class="text-redchiefs font-weight-bold">{{ article.userId.username }}</span>
                    le {{ article.createdat|localizeddate('none', 'none', null, timezone, 'eeee d MMMM Y à HH:mm') }}
                </p>
                {% if article.imagename %}
                    <img class="float-md-right ml-4 mb-4"
                         src="{{ vich_uploader_asset(article,'imageFile')|imagine_filter('article') }}" alt="{{ article.title}} illustration ">
                {% else %}
                    <img class="float-md-right ml-4 mb-4" src="{{ asset('img/jagschiefs.jpg') }}">
                {% endif %}
                <p> {{ article.content|html }}</p>
            </div>
        </div>

        <div class="card mt-4 mb-4">
            <h2 class="card-header bg-yellowchiefs"> Commentaires</h2>
            <div class="card-body">
                {% if is_granted("ROLE_USER") %}
                    <h3>Ajouter un commentaire</h3>
                    <p>{{ form_start(formComment) }}
                        {{ form_errors(formComment.content) }}
                        {{ form_widget(formComment.content,{'attr': {'placeholder': 'Votre Commentaire'}}) }}
                        {{ form_help(formComment.content) }}</p>
                    <button type="submit" class="btn bg-yellowchiefs">Ajouter un commentaire</button>
                    {{ form_end(formComment) }}
                {% endif %}

                {% block comments %}

                    <div id="ajax-results">Pas de Commentaires</div>
                    <div class="navigation_comments">
                        <ul class="pagination pagination_comments">
                            <li class="page-item previous_comments_item">
                                <button class="page-link previous_comments">Précédent</button>
                            </li>
                            <li><span id="pagenum">Numero De page</span></li>
                            <li class="page-item next_comments_item">
                                <button
                                        class="page-link next_comments"> Suivant
                                </button>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let page = 0;
        getComments(page);
        $('.next_comments').on('click', () => {
            page = page + 1;
            getComments(page);
        });

        $('.previous_comments').on('click', () => {
            page = page - 1;
            getComments(page);
        });

        function getComments(page) {
            let urlTarget = '{{ (path('article_comments',{id: article.id,page: 12354})) }}';
            urlTarget = urlTarget.replace("12354", page);
            $.ajax({
                url: urlTarget,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    $('#ajax-results').html(data[0]);
                    $('#pagenum').html(page + 1);
                    if (data[1] === true) {
                        $('.navigation_comments').show();
                    } else {
                        $('.navigation_comments').hide();
                    }

                    if (data[2] === true) {
                        $('.previous_comments').prop("disabled", false);
                        $('.previous_comments_item').removeClass("disabled");
                    } else {
                        $('.previous_comments').prop("disabled", true);
                        $('.previous_comments_item').addClass("disabled");
                    }

                    if (data[3] === true) {
                        $('.next_comments').prop("disabled", false);
                        $('.next_comments_item').removeClass("disabled");
                    } else {
                        $('.next_comments').prop("disabled", true);
                        $('.next_comments_item').addClass("disabled");
                    }
                },
                error: function () {
                    $('#ajax-results').html("Erreur d'affichage des commentaires");
                }
            });
        }
    </script>
{% endblock %}