{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <h1>Bienvenue sur ChiefsFrance</h1>
        <div class="card mt-4">
            <h2 class="card-header bg-redchiefs text-light">
                Edito
            </h2>
            <div class="card-body">
                <div class="row no-gutters">

                    <div>
                     <p>  Bienvenue sur le site ChiefsFrance, créé par un fan des Chiefs pour les fans des Chiefs francophones.
                        A l'origine ce n'était qu'un simple compte twitter sans prétention ( <a href="https://twitter.com/chiefsfrance">@ChiefsFrance</a> ), puis avec le nombre d'abonnés l'idée de créer quelque chose de plus consistant commenca à germer, histoire de produire du contenu plus enrichi. Le compte twitter c'est en effet suffisant pour les lvetweets des matchs et de la draft, la publication des brèves mais plus compliqué de produire des analyses ou des bilans dignes vraiment d'intéret, sans compter le fait qu'elles seraient facilement oubliés.</p><br>

                       <p> Du coup, profitant de ma formation chez OpenClassroom de Dévellopeur Web, j'ai commencé à travailler à la création de ce site en fin d'année 2019. La première version ne comportait qu'un modeste blog, avant que les autres fonctionalités viennent l'enrichir. Je vous souhaite donc une bonne visite et n'hésitez pas à me contacter si vous voulez participer à la vie de ce site, via la rédaction d'articles, la participation au podcast, ou si vous avez une nouvelle fonctionnalitée.</p>

                        <p>#ChiefsKingdom<br>
                        Aldra Elonal,<br>
                        Créateur de ChiefsFrance,<br>
                            CM de @ChiefsFrance</p>

                    </div>
                </div>
            </div>
        </div>


        {% for article in articles %}
            <div class="card mt-4">
                <h2 class="card-header bg-redchiefs text-light">
                    <a class="text-light" href="{{ path('article', {id: article.id}) }}"> {{ article.title }} </a>
                </h2>
                <div class="card-body">
                    <p class="category btn btn-danger">{{ article.categoryId.name }}</p>
                    <div class="row no-gutters">
                        {% if article.imagename %}
                            <div class="col-md-4">

                                <img src="{{ vich_uploader_asset(article,'imageFile')|imagine_filter('article_thumb') }}"
                                     height="150" width="150"/>
                            </div>
                        {% endif %}
                        <div class="col-md-8"><p>
                            {{ article.content|html|slice(0,300)|raw}}...</p>
                        </div>
                    </div>

                    <div class="font-italic text-muted mt-2"> Créé
                        le {{ article.createdat|localizeddate('none', 'none', null, timezone, 'eeee d MMMM Y à HH:mm') }}
                        <br>Par <span class="text-redchiefs">{{ article.userId.username }}</span></div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}