<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('style.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="{{ path('home') }}"><img src="img/logo.png" height="64"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Actualitées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Calendrier</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Effectif
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Roster</a>
                        <a class="dropdown-item" href="#">Starters Defense</a>
                        <a class="dropdown-item" href="#">Starters Offense</a>
                        <a class="dropdown-item" href="#">Starters Special Teams</a>
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-align-justify"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-lef" aria-labelledby="navbarDropdown">
                        {%  if not app.user %}
                        <a class="dropdown-item" href="{{ path('security_login') }}">Connexion</a>
                        <a class="dropdown-item" href="{{ path('security_registration') }}">Inscription</a>
                        {% else %}
                        <a class="dropdown-item" href="{{ path('security_logout') }}">Deconnexion</a>
                        {#<a class="dropdown-item" href="{{ path('security_member') }}">Profil</a>#}
                        {% endif %}
                        {% if is_granted(['ROLE_MANAGER', 'ROLE_CONTRIBUTEUR']) %}
                        <a class="dropdown-item" href="{{ path('admin_index') }}">Administration</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    {%  for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
