{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group mt-4">
                    <li class="list-group-item bg-redchiefs text-light  font-weight-bold">Menu d'Administration</li>
                    {% if is_granted('ROLE_CONTRIBUTEUR') %}
                        <a href="{{ path('admin_articles') }}" class="list-group-item list-group-item-action">Edition des Articles</a>
                        <a href="{{ path('admin_editArticle') }}" class="list-group-item list-group-item-action">Ajouter un Article</a>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') %}
                        <a href="#" class="list-group-item list-group-item-action">Edition du Roster</a>
                        <a href="" class="list-group-item list-group-item-action">Edition des Starters</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path("admin_user") }}" class="list-group-item list-group-item-action">Edition
                            des utilisateurs</a>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-9 mt-4">
                <h1> Edition des utilisateurs</h1>

                <table class="table table-striped  text-center table-hover">
                    <thead class="bg-redchiefs text-light">
                    <tr>
                        <th>
                            role
                        </th>
                        <th>
                            utilisateur
                        </th>
                        <th>
                            email
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    {% for user in users %}
                        <tbody>
                        <tr>
                            <td>
                                {% if "ROLE_ADMIN" in user.roles %}
                                    <i class="fas fa-crown"></i>
                                {% endif %}
                                {% if "ROLE_CONTRIBUTEUR" in user.roles %}
                                    <i class="far fa-newspaper"></i>
                                {% endif %}
                                {% if "ROLE_MANAGER" in user.roles %}
                                    <i class="fas fa-users"></i>
                                {% endif %}
                                {% if "ROLE_USER" in user.roles %}
                                    <i class="fas fa-user-check"></i>
                                {% endif %}
                                {% if "ROLE_UNREGISTERED" in user.roles %}
                                    <i class="fas fa-user-times"></i>
                                {% endif %}
                                {% if "ROLE_BANNED" in user.roles %}
                                    <i class="fas fa-user-slash"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                <a href="{{ path('security_editmember',{username : user.username}) }}"
                                   class="btn btn-success">Editer le profil</a>
                                {#{{ if user.roles =/= desactivé }}#}
                                {#<a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a> //descativation compter = role = ROLE_BANNED#}
                                {#{{ else }}#}
                                <a href="#" class="btn btn-success"><i class="fas fa-check"></i></i></a>
                                {#//reactivation du compter = role = ROLE_USER#}
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

